BASE_URL="http://0.0.0.0:3000"
    
# database master
DATABASE_NAME=pantau_auth_development
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=localhost
DATABASE_PORT="5432"
RAILS_MAX_THREADS="5"

# symbolic
# authorized callback di port 3000 dan 4000
APP_ID="ad68192bfcfe8085492dc82af35e26c8ca92a8d08db9e9d7820e054a849d5add"
APP_SECRET="bd09ebed07d20d7b438d96d7f8507922b25511887781740bbbb7ddb9a1055469"
SYMBOLIC_URL="https://identitas.extrainteger.com"
CALLBACK_URL="http://localhost:4000/v1/callback"

# API Doc setting
DOC_USERNAME="admin"
DOC_PASSWORD="admin"

# unicorn
UNICORN_WORKER_PROCESS=""
UNICORN_WORKING_DIRECTORY=""
UNICORN_SOCKET=""
UNICORN_BACKLOG=""
UNICORN_TIMEOUT=""
UNICORN_PID=""
UNICORN_STDERR_PATH=""
UNICORN_STDOUT_PATH=""

# Internal API
PANTAU_AUTH_KEY="7407d1827fb710d3acbf3591b719f853beb894aff026d45f339986ee45dae2a3"


