BASE_URL="http://0.0.0.0:3000"

# database master
DATABASE_NAME=pantau_auth_test
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=
DATABASE_PORT="5432"
RAILS_MAX_THREADS="5"

# symbolic
# authorized callback di port 3000 dan 4000
SYMBOLIC_URL="https://identitas.extrainteger.com"
CALLBACK_URL="http://localhost:4000/v1/callback"
AUTH_KEY="b6b5d4867a21c58e7cce9c0696595104056e30e70bd390cf2a5c1d1b560afd1c"

# API Doc setting
DOC_USERNAME="admin"
DOC_PASSWORD="admin"

# unicorn
UNICORN_WORKER_PROCESS=""
UNICORN_WORKING_DIRECTORY=""
UNICORN_SOCKET=""
UNICORN_BACKLOG=""
UNICORN_TIMEOUT=""
UNICORN_PID=""
UNICORN_STDERR_PATH=""
UNICORN_STDOUT_PATH=""

# Internal API
PANTAU_AUTH_KEY="7407d1827fb710d3acbf3591b719f853beb894aff026d45f339986ee45dae2a3"

# doorkeeper stuff
ACCESS_TOKEN_EXPIRES_IN="7200"

# Elastic search
ELASTICSEARCH_URL = "http://localhost:9200"

# Twitter
TW_CONSUMER_KEY="gnWWCXI8Ki255KFtEyWcIcYrh"
TW_CONSUMER_SECRET="qQroOfVy6IIg6yr6s3cIResqI6w9EYqRz6cO1KoS9iWibQgXyR"
